:root {
    /*background-colors*/
    --bg-color-red: #840909;
    --bg-color-yellow: #F4B320;
    --bg-color-blue: #143C54;
    --bg-color-offwhite: #F4EBDF;

    /*font-color*/
    --color-yellow: #FDCC44;
    --color-brown: #502F05;
    --color-blue: #C4E4E5;
    --color-red: #840909;

    /*font-sizes*/
    --h1: 10rem;
    --h2: 6rem;
    --h3: 4rem;
    --h4: 3rem;
    --main: 2rem
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLF.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLF-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLFCond.ttf);
    font-weight: normal;
    font-style: condensed;
}

@font-face {
    font-family: Bodoni72;
    src: url(./fonts/bodoni-72-book.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: var(--bg-color-yellow);
}

#wrapper {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    width: 100%;
    background-color: var(--bg-color-red);
    color: var(--color-yellow);
}

#header {
    width: 100%;
}

#headerWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#fontTitle {
    grid-column: 1;
    grid-row: 1;
    font-size: 6rem;
    font-family: ritz;
}

#fontName {
    grid-column: 1;
    grid-row: 2;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-family: ritz;

}

#fontName2 {
    grid-column: 2;
    grid-row: 2;
    border-top: 1px solid black;
    font-family: bodoni72;

}

#fontName, #fontName2 {
    font-size: var(--main);
    border: 1px solid black;
}

#headerWrapper>div {
    padding: 10px;
    align-self: center;
}

h1 {
    font-family: ritz;
    font-size: var(--h1);
}

h2 {
    font-family: ritz;
    font-size: var(--h2);
}

h3 {
    font-family: bodoni72;
    font-size: var(--h3);
}

h4 {
    font-family: bodoni72;
    font-size: var(--h4);
}

article {
    font-family: bodoni72;
    font-size: var(--main);
    overflow: hidden;
}

@media (max-width: 768px) {
    #wrapper {
        padding: 1.5rem;
        height: 100svh;
    }

    h1 {
        font-size: calc(var(--h1) * 0.5);
    }
    h2 {
        font-size: calc(var(--h2) * 0.5);
    }
    h3 {
        font-size: calc(var(--h3) * 0.5);
    }
    h4 {
        font-size: calc(var(--h4) * 0.5);
    }
    article {
    font-size: calc(var(--main) * 0.5);
    }
    #fontTitle {
        font-size: calc(6rem * 0.5);
    }
    #fontName, #fontName2 {
        font-size: calc(var(--main) * 0.7);
    }


    }
