:root {
    /*background-colors*/
    --color-brown: #563F22;
    --color-orange: #EF8E31;
    --color-blue: #295969;
    --color-yellow: #F4B320;
    --color-red: #DB2E17;
    --color-white: #FFFEF5;
    --color-black: #000000;
    --color-beige: #D6D4BA;

    /*font-sizes*/
    --h1: 1.25rem;
    --h2: 1.15rem;
    --h3: 1rem;
    --h4: 0.8rem;
    --main: 1rem;
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLF.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLF-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: ritz;
    src: url(./fonts/RitzFLFCond.ttf);
    font-weight: normal;
    font-style: condensed;
}

@font-face {
    font-family: baskerville-semi;
    src: url(./fonts/MBaskerville-SemiBold.otf);
}


@font-face {
    font-family: harmattan;
    src: url(./fonts/Harmattan-Regular.ttf);
}

@font-face {
    font-family: harmattan-medium;
    src: url(./fonts/Harmattan-Medium.ttf);
}

@font-face {
    font-family: harmattan-bold;
    src: url(./fonts/Harmattan-Bold.ttf);
}

@font-face {
    font-family: harmattan-semibold;
    src: url(./fonts/Harmattan-SemiBold.ttf);
}

@font-face {
    font-family: Bodoni72;
    src: url(./fonts/bodoni-72-book.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ConcertOne;
    src: url(./fonts/ConcertOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-white);
    position: relative;
}


#wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 0;
    background-color: var(--color-white);
    color: var(--color-black);
    height: 100%;
}

.imageContent {
    width: 100%;
    height: 11.25rem;
    border: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;


}

.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}


.imageFrame {
    width: 100%;
    
}

.img {
    width: 90%;
    height: 90%;
    border: 1px solid black;
}

#check {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border: 1px solid var(--color-white);
}

#main {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-bottom: 1px solid black;
}

.mainStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}


.mainTitleContainer {
width: 100%;

border: 1px solid black;
padding: 0.813rem 0rem 0.625rem 0rem;
margin-bottom: 10px;

}

.mainTitleContainer h2 {
    letter-spacing: 0.1rem;
    
}

.mainTitleContainer li {
    
    font-family: 'harmattan';
    list-style: none;
    letter-spacing: 0.1rem;
    
}

.bildtext {
    width: 100%;
    font-size: 0.5rem;
    font-family: "harmattan";
    font-size: 0.75rem;
    letter-spacing: .2;
    border-bottom: 0.5px solid var(--color-black);
}

#startContainer {
    background-image: url(./media/quizFooter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 16rem;
    border-radius: 0px 0px 25px 25px;
    font-family: "baskerville-semi";
    color: var(--color-white);
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#startBtn {
    margin-top: 1.25rem;
    height: 2.75rem;
    width: 7.25rem;
    border-radius: 25px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
}

audio {
    color: white;
    background-color: black;

}

.audioContainer {
    width: 100%;
    height: 44px;
    position: relative;
    
    margin-bottom: 1rem;
}

#pauseBtn,
#playBtn,
#replayBtn {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 25px;
    background-color: var(--color-black);
    color: var(--color-white);

    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    font-family: baskerville-semi;
    letter-spacing: 1px;
}

.audioBtnDisabled {
    display: none;
}
.audioBtnEnabled {
    display: flex;
}


#fontTitle {
    grid-column: 1;
    grid-row: 1;
    font-size: 6rem;
    font-family: ritz;

}

#fontName {
    grid-column: 1;
    grid-row: 2;

    border-right: 3px solid var(--color-yellow);
    font-family: ritz;

}

#fontName2 {
    grid-column: 2;
    grid-row: 2;
    font-family: bodoni72;

}

#fontName,
#fontName2 {
    font-size: var(--main);
    border-top: 3px solid var(--color-yellow);
    height: 3.5rem;
    display: flex;
    align-items: center;
}

#headerWrapper>div {
    padding: 10px;
    align-self: center;
}

h1 {
    font-family: baskerville-semi;
    font-size: var(--h1);
}

h2 {
    font-family: baskerville-semi;
    font-size: var(--h2);
}

h3 {
    font-family: baskerville-semi;
    font-size: var(--h3);
}

h4 {
    font-family: bodoni72;
    font-size: var(--h4);
}

p {
    font-family: harmattan-medium;
    font-size: 1rem;
    letter-spacing: 0.02rem;
    line-height: 1.2;
}

li {
    list-style: none;
    font-size: 0.75rem;
    font-family: harmattan;
}

article {
    font-family: bodoni72;
    font-size: var(--main);
    overflow: hidden;

}

button {
    font-family: harmattan;
    font-size: 1rem;
}

#carouselContainer {
    width: 100%;
    height: 10rem;
    position: relative;


}

svg {
    height: 25px;
    width: 25px;
}



.textFrame {
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    
}

.textFrame li {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.textFrame p {
    margin-bottom: 1.2rem;
}

.image0,
.image1,
.image2,
.image3,
.image4 {
    border: 3px solid var(--color-yellow);
    max-width: 50%;
    align-self: center;
    rotate: -5deg;
    position: absolute;
    top: 1rem;
    transform: 1s;


}

.image0 {
    left: -100px;
}

.image1 {
    left: 0;
}

.image2 {
    left: 100px;
}

.image3 {
    left: 200px;
}

.image4 {
    left: 250px;
}

.selectedImage {
    left: 2px;
    top: -400px;
    max-width: 23rem;
    rotate: 1deg;
    transition: 1s;

}

#mapContainer {
    border: 1px solid black;
    padding: 10px;
}

.mapLocationCard {
    border: 1px solid var(--color-black);
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.mapLocationCard > img {
width: 100%;
height: 160px;

border-radius: 10px;
border: 1px solid var(--color-black);
}

.mapLocationCardInfo p:first-of-type {
color: var(--color-orange);
border: 0;
}

.mapLocationCardInfo h5 {
    font-size: 1rem;
}

.mapLocationCardInfo p {
    border: 1px solid var(--color-black);
}

.mapLocationCardInfo {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.completed {
    background-color: var(--color-white);
}

.notCompleted {
    background-color: var(--color-white);
}



.hide {
    display: none !important;
}

.cover {
    height: 100%;
    width: 100%;
    background-color: rgba(211, 210, 193, .6);

    position: absolute;
    top:0;
    left:0;
}

#OBJECTBUTTON {
    width: 7.25rem;
    height: 2.75rem;
    grid-column: 1 / 3;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 50px;
    border: none;

}

#objectBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reopenBtn {
    height: 1.875rem;
    background-color: var(--color-beige);
    color: var(--color-white);
    border-radius: 25px;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    border-style: none;

}

#nextBtnRedisplay {
    width: 7.25rem;
    height: 2.75rem;
    background-color: var(--color-black);
    
    border-radius: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nextBtnRedisplay p {
    color: var(--color-white);

}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2rem;
}

#footerTextContainer {
    display: flex;
    align-items: center;
    width: 23.125rem;
    height: 10rem;
   
    
}
#footerTextContainer p {
    border: 1px solid var(--color-black);
    flex: 1;
    padding: 23px;
    

}

/*Map css*/
#imageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: 10s;
}

#fullscreenImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#closeOverlay {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}



@keyframes bg {
    0% {
        background-color: var(--bg-color-red-darker2);
    }

    25% {
        background-color: var(--bg-color-red-darker1);
    }

    50% {
        background-color: var(--bg-color-red);
    }

    75% {
        background-color: var(--bg-color-red-lighter1);
    }

    100% {
        background-color: var(--bg-color-red-lighter2);
    }
}

