#quizContainer {
    width: 100%;
    background-color: var(--color-black);
    border: 0.5px solid var(--color-black);
    border-top: 0;
    border-radius: 25px 25px 0 0;
}


.quizHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-white);
    background-image: url(../../media/quizHeader.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 1;
    width: 100%;
    height: 11.5rem;

}

.quizHeader h3 {
    font-size: 1.2rem;
    margin-top: -3.25rem;


}

.quizHeader p {
    font-size: 0.8rem;

}

.quizQuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-black);

}

.quizQuestionContainer div button {
    width: 95%;
    border-radius: 100px;
    margin-bottom: 0.625rem;
    margin-top: -1px;
    background: none;
    border: 1px solid var(--color-black);
    padding: 0;
    outline: none;
    aspect-ratio: auto 185 / 22;
    font-family: harmattan-semibold;
}

.quizQuestionContainer div button:first-child {
    margin-top: calc(0.625rem * 3);
}

.quizQuestionContainer div button:last-child {
    margin-bottom: 0;
}

.quizQuestionContainer div h4 {
    /*margin-top: -2.5rem;*/
    margin-bottom: 2rem;
}

.quizQuestionContainer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-bottom: 1.5px solid var(--color-black);
    border-radius: 10px;
    margin-top: -1px;
    padding-top: 2rem;
    aspect-ratio: auto 130/87;


}





.quizQuestionContainer h4 {
    background-color: var(--color-white);

    margin: auto;
    margin-top: -40px;
    margin-bottom: 10px;
    z-index: 2;
}

#firstQuizBox {
    border-top: 0;

    border-radius: 0 0 10px 10px;
    padding-top: calc(0.625rem * 3);
    padding-bottom: calc(0.625rem * 3);
    width: 100%;
    aspect-ratio: 65 / 34;
}

#firstQuizBox button:first-child {
    margin-top: 0;
}

/*#firstQuizTitle {
    margin-top: -3rem;
}*/

#lastQuizBox {
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}

.quizFooter {
    background-image: url(../../media/quizFooter.svg);
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 11.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: -1.5rem;
}

.quizFooterContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    height: 100%;
    width: 100%;
}

.quizFooterContent button {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    padding: 0;
    outline: none;

    width: 117px;
    height: 44px;
    border-radius: 100px;

    margin-top: 1rem;

}

#popUpContainer {
    width: 100%;
    aspect-ratio: 4/3;
    background-color: var(--color-white);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 25%;
    padding: 40px 60px 40px 60px;
    border: 1px solid var(--color-black);
    border-radius: 10px;
    
}



#popUpText {
    font-family: baskerville-semibold;
    font-size: 20px;
    color: var(--color-black);
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 10px;
    
}

#popUpConfirm, #popUpAbort {
    
    height: 35px;
    aspect-ratio: 117 / 35;
    font-family: harmattan-semibold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    border-radius: 25px;
    
}

#popUpConfirm {
    border: 1px solid var(--color-black);
    background-color: var(--color-orange);
    margin-bottom: 10px;
}

#popUpAbort {
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    color: var(--color-orange);
}

